In [14]:
import pandas as pd

In [15]:
carros = ['Jetta', 'Passat', 'Crossfox']
series = pd.Series(carros)
series

0       Jetta
1      Passat
2    Crossfox
dtype: object

In [16]:
dados = {
    'Name': ['Jetta Variant', 'Passat', 'Crossfox'],
    'Moto': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Year': [2003, 1991, 1990],
    'Speed': [44410.0, 5712.0, 37123.0],
    'Zero_km ingles': [False, False, False],
    'price': [88078.64, 106161.94, 72832.16]
}

dataset = pd.DataFrame(dados)
dataset

            Name             Moto  Year    Speed  Zero_km ingles      price
0  Jetta Variant  Motor 4.0 Turbo  2003  44410.0           False   88078.64
1         Passat     Motor Diesel  1991   5712.0           False  106161.94
2       Crossfox  Motor Diesel V8  1990  37123.0           False   72832.16

In [17]:
dataset.columns = ['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']

In [18]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [19]:
dataset[['Valor']]

       Valor
0   88078.64
1  106161.94
2   72832.16

In [20]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [21]:
dataset['Valor']

0     88078.64
1    106161.94
2     72832.16
Name: Valor, dtype: float64

In [22]:
dataset['Ano']

0    2003
1    1991
2    1990
Name: Ano, dtype: int64

In [23]:
dataset[['Valor', 'Zero_km', 'Quilometragem', 'Ano', 'Motor']]

       Valor  Zero_km  Quilometragem   Ano            Motor
0   88078.64    False        44410.0  2003  Motor 4.0 Turbo
1  106161.94    False         5712.0  1991     Motor Diesel
2   72832.16    False        37123.0  1990  Motor Diesel V8

In [24]:
df = pd.read_csv('/content/drive/MyDrive/bases_de_dados/db.csv', sep=';')
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [25]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [27]:
pd.set_option('display.max_rows', 10)

In [28]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [29]:
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [30]:
df['Valor']

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [31]:
df[['Valor']]

         Valor
0     88078.64
1    106161.94
2     72832.16
3    124549.07
4     92612.10
..         ...
253   51759.58
254   51667.06
255   68934.03
256  122110.90
257   90381.47

[258 rows x 1 columns]

In [32]:
df[:5]

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [33]:
df.loc[0]

Nome                                                 Jetta Variant
Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                                44410
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                      88078.6
Name: 0, dtype: object

In [34]:
df.loc[1]

Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: 1, dtype: object

In [35]:
df.loc[[0, 1, 3], ['Motor', 'Ano']]

             Motor   Ano
0  Motor 4.0 Turbo  2003
1     Motor Diesel  1991
3  Motor 2.4 Turbo  2019

In [36]:
df.iloc[0]

Nome                                                 Jetta Variant
Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                                44410
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                      88078.6
Name: 0, dtype: object

In [37]:
df.iloc[[0]]

            Nome  ...     Valor
0  Jetta Variant  ...  88078.64

[1 rows x 7 columns]

In [38]:
df.iloc[1:5, [3, 4, 5]]

   Quilometragem  Zero_km                                         Acessórios
1         5712.0    False  ['Central multimídia', 'Teto panorâmico', 'Fre...
2        37123.0    False  ['Piloto automático', 'Controle de estabilidad...
3            NaN     True  ['Travas elétricas', '4 X 4', 'Vidros elétrico...
4        25757.0    False  ['Rodas de liga', '4 X 4', 'Central multimídia...

In [39]:
df.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [40]:
dataset.Motor == 'Motor Diesel'

0    False
1     True
2    False
Name: Motor, dtype: bool

In [41]:
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [42]:
df.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [43]:
df.Motor == 'Motor Diesel'

0      False
1       True
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256     True
257    False
Name: Motor, Length: 258, dtype: bool

In [44]:
df.query('Motor == "Motor Diesel"')

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
..                     ...  ...        ...
226           Dodge Dakota  ...  141083.35
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
256       Aston Martin DB5  ...  122110.90

[26 rows x 7 columns]

In [45]:
df.query('Zero_km == True')

                     Nome  ...      Valor
3                     DS5  ...  124549.07
6                      A5  ...   56445.20
13                     J5  ...   53183.38
17                     A3  ...   88552.39
21              Série 1 M  ...   94564.40
..                    ...  ...        ...
238  Lamborghini Reventón  ...   67664.86
242            Benni Mini  ...  126247.84
243                   Uno  ...  128852.21
245              Santa Fe  ...  129415.33
248                  XC60  ...   77675.79

[61 rows x 7 columns]

In [46]:
df.query('Valor > 67664.86')

                    Nome  ...      Valor
0          Jetta Variant  ...   88078.64
1                 Passat  ...  106161.94
2               Crossfox  ...   72832.16
3                    DS5  ...  124549.07
4       Aston Martin DB4  ...   92612.10
..                   ...  ...        ...
251  Lamborghini Huracán  ...  118826.44
252                   A7  ...  137627.62
255           Classe GLK  ...   68934.03
256     Aston Martin DB5  ...  122110.90
257                Macan  ...   90381.47

[206 rows x 7 columns]

In [47]:
df[['Valor']].query('Valor > 100000')

         Valor
1    106161.94
3    124549.07
7    112310.44
8    120716.27
12   112732.99
..         ...
244  132384.76
245  129415.33
251  118826.44
252  137627.62
256  122110.90

[127 rows x 1 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [49]:
df.describe()

               Ano  Quilometragem          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

In [71]:
df['Quilometragem'].isna()

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 258, dtype: bool

In [51]:
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]